{% extends 'Base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Welcome to our K-beauty page, where you can start your Korean beauty journey with us.
            </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary">Welcome to Koready!</h2>
                    <p align="justify">
                        Koready is your ultimate destination for authentic and innovative Korean beauty products. We believe that beauty is more than just skin deep—it's a reflection of self-care, confidence, and embracing one's unique essence. That's why we're passionate about bringing you the best of Korean beauty to elevate your skincare and beauty routines to new heights.

                        Our journey began with a deep appreciation for the transformative power of Korean skincare and cosmetics. From the bustling streets of Seoul to the tranquil beauty of Jeju Island, we've immersed ourselves in the rich tapestry of Korean beauty culture, uncovering the secrets behind radiant, luminous skin.

                        Driven by our love for all things K-beauty, we've curated a handpicked selection of premium products from beloved Korean brands renowned for their quality, effectiveness, and commitment to innovation. Whether you're searching for the perfect cleanser to achieve that coveted glass skin or the latest K-beauty trends straight from the heart of Seoul, we've got you covered.

                        But our commitment to beauty goes beyond just products. We're dedicated to empowering you to embrace your unique beauty journey with confidence and authenticity. That's why we're here to guide and inspire you every step of the way, offering expert advice, skincare tips, and personalized recommendations tailored to your individual needs.

                        At Koready, we're more than just a beauty store—we're a community united by our shared passion for Korean beauty and a commitment to self-care and self-expression. Join us on this exciting journey as we celebrate the artistry, innovation, and joy of K-beauty together.

                        Thank you for choosing Koready as your trusted source for all things K-beauty. Here's to discovering your most radiant self!

                        With love,
                        Koready Team
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
