{% extends 'Base.html' %}
{% block content %}

        <!-- Header-->
<header class="bg-info py-5" xmlns="http://www.w3.org/1999/html">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Your Cart </p>
                </div>
            </div>
        </header>
<br>
 <div class="container">
     {% if cart_prod %}

      {% for product in cart_prod %}

     <div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text justified">{{ product.description_product }}</p>

          {% if product.is_Sale %}

          <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
              </div>

          <strike>

                ${{ product.price }}
         </strike>
                &nbsp;
                ${{ product.sale_price }}

          {% else %}
           ${{ product.price }} <br>

          {% endif %}

          <br>
<div class="row justify-content-center">
              <div class="col-md-2">Quantity</div>
              <div class="col-md-2">
           <select class="form-select form-select-sm" id="select{{product.id}}" >

    {% for key,value in quantities.items %}
    {% if key == product.id|slugify %}
      <option selected> {{ value }}</option>
    {% endif %}

    {% endfor %}

  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
</select>
  </div>

          </div>
<br> <br>
         <a href="{% url 'home' %}" class="btn btn-secondary" >Home Page

      </a>
          <button type="button" data-index="{{product.id}}"
              class="btn btn-secondary update-cart">Update
          </button>
          <button type="button" data-index="{{product.id}}"
              class="btn btn-danger delete-cart">Delete
          </button>

</center>
      </div>
    </div>
  </div>
</div>
<div>
              {% endfor %}
 <div align="right">
    <strong> Total: ${{ totals }} </strong> <br>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
</div>
    {% else %}
    <br> <br> <br> <br> <br> <br>
    Your cart is empty.
    {% endif %}

  </div>
<br><br><br>
</div>



<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');
    var quantity = $('#select' + productid).val();
    var csrfToken = '{{ csrf_token }}';

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_upt' %}',
    data: {
      product_id: productid,
      quantity : quantity,
      csrfmiddlewaretoken: csrfToken,
      action: 'post'
    },
    success: function(json){
        //console.log(json)

        location.reload();
    },

    error: function(xhr, errmsg, err){
    console.error(xhr.status + ": " + xhr.responseText);

    }


    });

})





 // delete items

$(document).on('click', '.delete-cart', function(e){
    e.preventDefault();

    $.ajax({
        type: 'POST',
        url: '{% url 'cart_del' %}',
        data: {
    product_id: $(this).data('index'),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})

</script>

 {% endblock %}